@{
    ViewData["Title"] = "About Us";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="page-heading about-heading header-text" style="background-image: url(../assets/images/heading-1-1920x500.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                    <h4>about us</h4>
                    <h2>our company</h2>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="best-features about-features">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Top quality Service</h2>
                </div>
            </div>
            <div class="col-md-6">
                <div class="right-image">
                    <img src="~/assets/images/about-1-570x350.jpg" alt="">
                </div>
            </div>
            <div class="col-md-6">
                <div class="left-content">
                    <h4>Quality.</h4>
                    <p>We provide Top Quality car rental services with a great variety of locations and car types to suit both your requirements and your budget.We only use trustworthy car hire companies for your peace of mind and firmly believe that the only way you will book with us again is by making sure you get the best possible service. We will not charge you extra costs nor will we try to sell you anything you do not need. The price you see is the price you will pay!
We do not want to scare you, but the car hire business has plenty of “CowBoys” whose only aim is to close the sale, get your money and then forget about it. Please, if you choose any other car hire company make sure you read the small print.
                    </p>
                    <ul class="social-icons">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>


<div class="team-members">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Company History</h2>
                </div>

                <h5>Staff</h5>

                <p>
                    Our most important asset after you is our workforce whose hard work and dedication have brought Rental Car to the level of success we enjoy today.Our well-trained people have only one aim, to provide you with the help you need before, during and after the booking.We are constantly learning about new technologies as they come into play. The result is a workforce that is highly knowledgeable in all aspects of the business and can assist you in the best possible way. We are truly a team.
                </p>

                <p> Prior to setting up Renatl Car, we noticed that the car rental business lacked quality. This led us to the conclusion that the customer was getting neither value for money nor the expected level of service.
Based on this assumption, we created Rental Car, a company using Top Quality car hire Companies fully committed to putting your interests first.
In the process of building the business, we have been fortunate to make full use of the expertise and management skills of leading e-business consultants in Europe.
Today, Rental Car is one of the fastest growing car hire companies mainly because we care about you.
We would like to thank you for all the support received and hope you enjoy our services wherever you go.</p>
            </div>
        </div>
    </div>
</div>