@{
    ViewData["Title"] = "Terms";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

}
<!-- Page Content -->
<div class="page-heading about-heading header-text" style="background-image: url(../assets/images/heading-5-1920x500.jpg);">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="text-content">
                  
                    <h2>Terms</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="team-members">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="section-heading">
                    <h2>Terms and Policy.</h2>
                </div>

                <h5>Terms.</h5>

                <p>
                    User Eligibility
                    The Web Site is provided by RENTAL CAR and available only to entities and persons who have reached the age of legal majority and are competent to enter into a legally binding agreement(s) under the applicable law. If You do not qualify, You are not permitted to use the Web Site.

                    Scope Of Terms Of Use
                    These Terms of Use govern Your use of the Website and all applications, software and services (collectively known as "Services") available via the Web Site, except to the extent that such Services are the subject of a separate agreement. Specific terms or agreements may apply to the use of certain Services and other items provided to You via the Web Site ("Service Agreement(s)"). Any such Service Agreements will accompany the applicable Services or are listed in association therewith or via a hyperlink associated therewith.

                    Modifications
                    RENTAL CAR may revise and update these Terms of Use at any time. Your continued usage of the Web Site after any changes to these Terms of Use will be deemed as acceptance of such changes. Any aspect of the Web Site may be changed, supplemented, deleted or updated without notice, at the sole discretion of RENTAL CAR. RENTAL CAR may also change or impose fees for products and services provided through the Web Site at any time, at its sole discretion. RENTAL CAR may establish or change, at any time, general practices and restrictions concerning other RENTAL CAR products and services at its sole discretion.

                    RENTAL CAR Privacy Notice
                    With respect to any individual whose personal information is provided by You to RENTAL CAR, You represent to RENTAL CAR that You have obtained all necessary consents for the processing of such personal information contemplated by the Services.

                    Licence and Ownership
                    Any and all intellectual property rights ("Intellectual Property") associated with the Web Site and its contents (the "Content") are the sole property of RENTAL CAR, its affiliates or third parties. The Content is protected by Intellectual Property and other laws both in India and other countries. Elements of the Web Site are also protected by trade name, trade secret, unfair competition, and other laws and may not be copied or imitated in whole or in part. All customised graphics, icons, and other items that appear on the Web Site are trademarks, service marks or trade name ("Marks") of RENTAL CAR, its affiliates or other entities that have granted RENTAL CAR the right and licence to use such Marks and may not be used or interfered with in any manner without the express written consent of RENTAL CAR. Except as otherwise expressly authorised by these Terms of Use, You may not copy, reproduce, modify, amend, lease, loan, sell and/or create derivative works from, upload, transmit, and/or distribute the Intellectual Property of the Web Site in any way without RENTAL CAR's prior written permission or that of an appropriate third party. Except as expressly provided herein, RENTAL CAR does not grant to You any express or implied rights to the Intellectual Property of RENTAL CAR or that of any third party.
                    RENTAL CAR hereby grants You a limited, personal, non-transferable, non-sublicensable, revocable licence to (a) access and use only the Web Site, Content and Services only in the manner presented by RENTAL CAR, and (b) access and use the RENTAL CAR computer and network services offered within the Web Site (the "RENTAL CAR Systems") only in the manner expressly permitted by RENTAL CAR. Except for this limited license, RENTAL CAR does not convey any interest in or to the RENTAL CAR Systems, information or data available via the RENTAL CAR Systems (the "Information"), Content, Services, Web Site or any other RENTAL CAR property by permitting You to access the Web Site. Except to the extent required by law or as expressly provided herein, none of the Content and/or Information may be reverse-engineered, modified, amended, reproduced, republished, translated into any language or computer language, re-transmitted in any form or by any means, resold or redistributed without the prior written consent of RENTAL CAR. You may not make, sell, offer for sale, modify, amend, reproduce, display, publicly perform, import, distribute, retransmit or otherwise use the Content in any way unless expressly permitted to do so by RENTAL CAR.

                    Restrictions on Use Of The Website
                    In addition to other restrictions set forth in these Terms of Use, You agree that:
                    •	You shall not disguise the origin of information transmitted through the Web Site.
                    •	You will not place false or misleading information on the Web Site.
                    •	You will not use or access any service, information, application or software available via the Web Site in a manner not expressly permitted by RENTAL CAR.
                    •	You will not input or upload to the Web Site any information that may contain viruses, Trojan horses, worms, time bombs or other computer programming routines that are intended to damage, interfere with, intercept or expropriate any system, the Web Site or Information or that infringes the Intellectual Property rights of another.
                    •	Certain areas of the Web Site are restricted to customers of RENTAL CAR.
                    •	You may not use or access the Web Site or the RENTAL CAR Systems or Services in any way that, in RENTAL CAR's judgment, adversely affects the performance or function of the RENTAL CAR Systems, Services or the Web Site or interferes with the ability of authorised parties to access the RENTAL CAR Systems, Services or the Web Site.
                    •	You may not frame or utilize framing techniques to enclose any portion or aspect of the Content or the Information, without the express written consent of RENTAL CAR.
                    Links
                    Outbound Links. The Web Site may contain links to third-party Web Sites and resources (referred to collectively hereinafter as "Linked Sites"). These Linked Sites are provided solely as a convenience to You and not as an endorsement by RENTAL CAR of the content of such Linked Sites. RENTAL CAR makes no representations or warranties regarding the correctness, accuracy, performance or quality of any content, software, service or application found at any Linked Site. RENTAL CAR shall not be responsible for the availability of the Linked Sites or the content or activities of such sites. If You decide to access Linked Sites, You do so at Your own risk. In addition, Your use of Linked Sites is subject to any applicable policies and terms and conditions of use, including but not limited to, the Linked Site's privacy policy.
                    Inbound Links. Linking to any page of the Web Site other than to https://www.RENTAL CAR.com through a plain text link is strictly prohibited in the absence of a separate linkage agreement with RENTAL CAR. Any website or other devices that link to https://www.RENTAL CAR.com or any page available therein is prohibited from
                    •	replicating Content,
                    •	using a browser or border environment around the Content,
                    .
                </p>

                <br>
                <br>
   

            </div>
        </div>
    </div>
</div>
