@{
    ViewData["Title"] = "Register Completed";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";

}


<div class="row">
    <div style="margin-top:120px" class="col-md-6 offset-3 alert alert-success text-center ">
        <h2>Your account was created successfully</h2>
        <p>You can log in to your account using your credentails</p>
        <hr />
        <p>Thank you!</p>
    </div>
</div>